.header {
  background-color: var(--maincolor);
  padding: 2rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 425px) {
    padding: 2rem 4rem;
  }

  h1 {
    font-size: 3rem;
    color: #fff;

    a {
      color: #fff;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
    list-style: none;

    li a {
      color: #fff;
    }
  }
}
